/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
ul li{list-style: none;}

.up{
   background-color: crimson;
   padding: 0px;
   margin: 0px;
   padding-bottom: 50px;
}

.container {
   padding: 0px;
   margin: 0px;
}

.text-input{
   width: 700px;
   height: 50px;
}

.title {
   text-align: center;
   color: aliceblue;
   margin-top: 0px;
}


.input-box{
   text-align: center;
}

.submit {
   width: 100px;
   height: 56px;
}

.list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;


   text-align: center;
   margin-top: 0px;
}

.listitem {

   min-height: 50px;
   min-width: 2000px;
   color: rgb(0, 0, 0);
   
   font-size: 20px;

   background-color:rgb(219, 219, 219);
   text-decoration: line-through;

}

.listitem-line{
   text-align: center;
   min-height: 50px;
   width: 2000px;

   font-size: 20px;

   color: aliceblue;
   background-color: rgb(53, 53, 53);

   text-decoration: line-through;
}

